---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - Page Not Found">
  <div class="flex flex-col items-center justify-center py-32 text-center">
    <h1 class="text-6xl font-bold mb-4">404</h1>
    <p class="text-stone-400 text-lg mb-8">This page doesn't exist.</p>
    <a
      class="px-6 py-2 bg-sky-500 rounded-lg text-black hover:bg-sky-600 transition-colors delay-[10]"
      href="/">Go Home</a
    >
  </div>
</Layout>
