---
import { CodeBlock } from '../components/Codeblock.jsx';
import Layout from '../layouts/Layout.astro';
import { FaGithub, FaDiscord } from 'react-icons/fa'
import { GoBook } from 'react-icons/go'

const EXAMPLE_CODE = `
fn app(cx: Scope) -> Element {
  let mut count = use_state(cx, || 0);

  render!(
      rect {
          height: "20%",
          width: "100%",
          background: "rgb(233, 196, 106)",
          padding: "25",
          color: "rgb(20, 33, 61)",
          label { 
              font_size: "20", 
              "Number is: {count}"
          }
      }
      rect {
          height: "80%",
          width: "100%",
          background: "rgb(73, 151, 222)",
          color: "black",
          padding: "25",
          onclick: move |_| count += 1,
          label { "Click to increase!" }
      }
  )
}
`.trim()
---

<Layout title="Freya - GUI Library for Rust">
    <div class="sm:flex justify-center items-center pb-8">
        <img class="mx-auto mb-8 sm:m-0" src="/logo.svg" width="150">
        <div class="inline-block sm:p-4">
            <p>Build native & cross-platform GUI applications  using 🦀 <a href="https://www.rust-lang.org/" class="underline">Rust</a>. <br/>Powered by 🧬 <a href="https://dioxuslabs.com/" class="underline">Dioxus</a> and 🎨 <a href="https://skia.org/" rel="noreferrer"class="underline">Skia</a>.</p>
            <br/>
            <a class="sm:inline-block sm:my-0 block my-2 mr-2 px-6 py-2 bg-sky-500 rounded-lg text-black hover:bg-sky-600 transition-colors delay-[10]" href="https://book.freyaui.dev/guides/getting_started.html">get started -></a>
            <a class="sm:inline-block sm:my-0 block my-2 mr-2 px-6 py-2 bg-orange-300 rounded-lg text-black hover:bg-orange-400 transition-colors delay-[10]" href="https://github.com/marc2332/freya">contribute -></a>
        </div>
    </div>
    <div class="block max-w-prose mx-auto sm:flex">
        <div class="flex-1 text-black border border-stone-800 m-2 rounded-2xl p-4 bg-custom-dark-gray text-xs">
            <CodeBlock code={EXAMPLE_CODE} client:load/>
        </div>
        <div class="flex-1 text-black m-2 rounded-md h-96 sm:h-auto">
            <div class="bg-custom-yellow h-1/5 p-6 rounded-tl-2xl rounded-tr-2xl">
                Number is: 37
            </div>
            <div class="bg-custom-blue h-4/5 p-6 rounded-bl-2xl rounded-br-2xl">
                Click to increase
            </div>
        </div>
    </div>
</Layout>

