target
.devenv/
.idea
snapshot_before.png
snapshot_after.png
documents_example
bacon.toml
.envrc
.direnv
**/.DS_Store
*demo-*.png
embedded-frames
other
state_query_sqlite_data
CLAUDE.md

.direnv

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
