[package]
name = "examples"
version = "0.0.0"
edition = "2021"

[workspace]
members = ["crates/layout", "crates/renderer", "crates/state", "crates/freya", "crates/elements", "crates/components", "crates/hooks", "crates/common", "crates/core", "crates/testing", "crates/devtools", "crates/dom", "crates/torin", "crates/engine"]

[features]
log = ["freya/log"]
devtools = ["freya/devtools"]
use_camera = ["freya/use_camera"]

[workspace.dependencies]
freya = { path = "crates/freya", version = "0.1" }
freya-devtools = { path = "crates/devtools", version = "0.1" }
freya-node-state = { path = "crates/state", version = "0.1" }
freya-layout = { path = "crates/layout", version = "0.1" }
freya-renderer = { path = "crates/renderer", version = "0.1" }
freya-elements = { path = "crates/elements", version = "0.1" }
freya-common = { path = "crates/common", version = "0.1" }
freya-hooks = { path = "crates/hooks", version = "0.1" }
freya-core = { path = "crates/core", version = "0.1" }
freya-components = { path = "crates/components", version = "0.1" }
freya-dom = { path = "crates/dom", version = "0.1" }
freya-testing = { path = "crates/testing", version = "0.1" }
freya-engine = { path = "crates/engine", version = "0.1" }
torin = { path = "crates/torin", version = "0.1" }

dioxus = { version = "0.4" }
dioxus-native-core-macro = { version = "0.4" }
dioxus-rsx = { version = "0.4", features = ["hot_reload"] }
dioxus-native-core = { version = "0.4", features = ["dioxus"] }
dioxus-core-macro = { version = "0.4" }
dioxus-hooks = { version = "0.4" }
dioxus-core = { version = "0.4" }
dioxus-hot-reload = { version = "0.4", features = ["file_watcher"] }
dioxus-router = { version = "0.4" }

skia-safe = { version = "0.63.0", features = ["gl", "textlayout", "svg"] }

gl = "0.14.0"
glutin = "0.30.6"
glutin-winit = "0.3.0"
raw-window-handle = "0.5.1"
winit = "0.28.2"
tokio = { version = "1.23.0", features = ["sync", "rt-multi-thread", "time", "macros"] }
accesskit = { version = "0.11.0", features = ["serde"]}
accesskit_winit = "0.14.1"
zbus = "3.13.1"

euclid = "0.22.7"
uuid = { version = "1.2.2", features = ["v4"]}
futures = "0.3.25"
anymap = "0.12.1"
fxhash = "0.2.1"
tracing = "0.1"
tracing-subscriber = "0.3.17"
rustc-hash = "1.1.0"

[dev-dependencies]
skia-safe = { workspace = true }
winit = { workspace = true }
tokio = { workspace = true }
dioxus = { workspace = true }
freya = { workspace = true }
freya-node-state = { workspace = true }
reqwest = { version = "0.11.13", features = ["json"] }
serde = "1.0.152"
tracing-subscriber = "0.2.25"
dioxus-std = { version = "0.4", features = ["utils", "i18n"] }
rand = "0.8.5"
dioxus-router = { workspace = true }
itertools = "0.11.0"

[profile.release]
lto = true
opt-level = 3


[target."cfg(target_os = \"linux\")".dependencies.skia-safe]
workspace = true
features = ["gl", "textlayout", "svg", "x11", "wayland"]
