[package]
name = "examples"
version = "0.0.0"
edition = "2021"
publish = false

[workspace]
members = ["crates/winit", "crates/freya", "crates/elements", "crates/components", "crates/hooks", "crates/core", "crates/testing", "crates/devtools", "crates/torin", "crates/engine", "./examples/installer",  "crates/native-core",  "crates/native-core-macro"]

[features]
tracing-subscriber = ["freya/tracing-subscriber"]
devtools = ["freya/devtools"]
use_camera = ["freya/use_camera"]
custom-tokio-rt = ["freya/custom-tokio-rt"]
performance-overlay = ["freya/performance-overlay"]
fade-cached-incremental-areas = ["freya/fade-cached-incremental-areas"]
disable-zoom-shortcuts = ["freya/disable-zoom-shortcuts"]
docs = ["freya/docs"]
muda = ["freya/muda"]

[patch.crates-io]
# dioxus = { git = "https://github.com/ealmloff/dioxus", rev = "5c410876666710f0c497fd6d4033011ac37087bc" }
# dioxus-rsx = { git = "https://github.com/ealmloff/dioxus", rev = "5c410876666710f0c497fd6d4033011ac37087bc" }
# dioxus-core-macro = { git = "https://github.com/ealmloff/dioxus", rev = "5c410876666710f0c497fd6d4033011ac37087bc" }
# dioxus-hooks = { git = "https://github.com/ealmloff/dioxus", rev = "5c410876666710f0c497fd6d4033011ac37087bc" }
# dioxus-signals = { git = "https://github.com/ealmloff/dioxus", rev = "5c410876666710f0c497fd6d4033011ac37087bc" }
# dioxus-core = { git = "https://github.com/ealmloff/dioxus", rev = "5c410876666710f0c497fd6d4033011ac37087bc" }
# dioxus-router = { git = "https://github.com/ealmloff/dioxus", rev = "5c410876666710f0c497fd6d4033011ac37087bc" }
# generational-box  = { git = "https://github.com/ealmloff/dioxus", rev = "5c410876666710f0c497fd6d4033011ac37087bc" }

[workspace.dependencies]
freya = { path = "crates/freya", version = "0.3.3" }
freya-devtools = { path = "crates/devtools", version = "0.3.3" }
freya-node-state = { path = "crates/state", version = "0.3.3" }
freya-winit = { path = "crates/winit", version = "0.3.3" }
freya-elements = { path = "crates/elements", version = "0.3.3" }
freya-common = { path = "crates/common", version = "0.3.3" }
freya-hooks = { path = "crates/hooks", version = "0.3.3" }
freya-core = { path = "crates/core", version = "0.3.3" }
freya-components = { path = "crates/components", version = "0.3.3" }
freya-testing = { path = "crates/testing", version = "0.3.3" }
freya-engine = { path = "crates/engine", version = "0.3.3" }
torin = { path = "crates/torin", version = "0.3.3" }

freya-native-core-macro = { path = "crates/native-core-macro", version = "0.3.3" }
freya-native-core = { path = "crates/native-core", version = "0.3.3" }

dioxus = { version = "0.6.3", default-features = false, features = ["macro", "signals", "hooks"] }
dioxus-rsx = { version = "0.6.2" }
dioxus-core-macro = { version = "0.6.3" }
dioxus-hooks = { version = "0.6.2" }
dioxus-signals = { version = "0.6.3" }
dioxus-core = { version = "0.6.3" }
dioxus-router = { version = "0.6.3", default-features = false }
generational-box = { version = "0.6.2" }

dioxus-clipboard = "0.2.0"
dioxus-i18n = "0.4.1"

skia-safe = { version = "0.86.0", features = ["gl", "textlayout", "svg"] }

gl = "0.14.0"
glutin = "0.32.0"
glutin-winit = "0.5.0"
raw-window-handle = "0.6.0"
winit = "0.30.0"
tokio = { version = "1", features = ["sync", "rt-multi-thread", "time", "macros"] }
accesskit = { version = "0.19.0", features = ["serde"]}
accesskit_winit = "0.27.0"
shipyard = { version = "0.8", features = ["proc", "std", "parallel"], default-features = false }
smallvec = "1.13.1"

euclid = "0.22.9"
futures-util = "0.3.30"
futures-task = "0.3.30"
tracing = "0.1"
tracing-subscriber = "0.3.17"
rustc-hash = "2.0.0"

[dev-dependencies]
skia-safe = { workspace = true }
tokio = { workspace = true, features = ["fs"]}
dioxus = { workspace = true }
freya = { workspace = true, features = ["network-image"] }
freya-hooks = { workspace = true }
freya-core = { workspace = true }
freya-testing = { workspace = true }
reqwest = { version = "0.12.0", features = ["json"] }
serde = "1.0.189"
dioxus-i18n = { workspace = true }
rand = "0.8.5"
dioxus-router = { workspace = true }
itertools = "0.13.0"
home = "0.5.9"
dioxus-query = "0.7.0"
gilrs = "0.10.8"
gl = { workspace = true }
tree-sitter-highlight = "0.23.0"
tree-sitter-rust = "0.23.0"
rfd = "0.15.3"
bytes = "1.5.0"
muda = "0.15.1"
dioxus-clipboard = { workspace = true }
winit = { workspace = true }

[profile.release]
lto = true
opt-level = 3

[target."cfg(target_os = \"windows\")".dependencies.windows-sys]
version = "0.59"
features = ["Win32_UI_WindowsAndMessaging", "Win32_Foundation"]