[package]
name = "examples"
version = "0.0.0"
edition = "2021"

[workspace]
members = ["layout", "renderer", "state", "freya", "elements", "components", "hooks", "common", "core", "testing", "devtools", "dom", "torin"]

[features]
log = ["freya/log"]
devtools = ["freya/devtools"]
use_camera = ["freya/use_camera"]

[workspace.dependencies]
freya = { path = "freya", version = "0.1.0" }
freya-devtools = { path = "devtools", version = "0.1.0" }
freya-node-state = { path = "state", version = "0.1.0" }
freya-layout = { path = "layout", version = "0.1.0" }
freya-renderer = { path = "renderer", version = "0.1.0" }
freya-elements = { path = "elements", version = "0.1.0" }
freya-common = { path = "common", version = "0.1.0" }
freya-hooks = { path = "hooks" }
freya-core = { path = "core" }
freya-components = { path = "components" }
freya-dom = { path = "dom", version = "0.1.0" }
freya-testing = { path = "testing", version = "0.1.0" }
torin = { path = "torin", version = "0.1.0" }

dioxus = { git = "https://github.com/DioxusLabs/dioxus", rev="8a9bf294b44e123927dc9a19ad2d4238aea6ccb9" }
dioxus-native-core-macro = { git = "https://github.com/DioxusLabs/dioxus", rev="8a9bf294b44e123927dc9a19ad2d4238aea6ccb9" }
dioxus-rsx = { git = "https://github.com/DioxusLabs/dioxus", rev="8a9bf294b44e123927dc9a19ad2d4238aea6ccb9" }
dioxus-native-core = { git = "https://github.com/DioxusLabs/dioxus", rev="8a9bf294b44e123927dc9a19ad2d4238aea6ccb9", features=["dioxus"] }
dioxus-core-macro = { git = "https://github.com/DioxusLabs/dioxus", rev="8a9bf294b44e123927dc9a19ad2d4238aea6ccb9" }
dioxus-hooks = { git = "https://github.com/DioxusLabs/dioxus", rev="8a9bf294b44e123927dc9a19ad2d4238aea6ccb9" }
dioxus-core = { git = "https://github.com/DioxusLabs/dioxus", rev="8a9bf294b44e123927dc9a19ad2d4238aea6ccb9" }
dioxus-hot-reload = { git = "https://github.com/DioxusLabs/dioxus", rev="8a9bf294b44e123927dc9a19ad2d4238aea6ccb9" }
dioxus-router = { git = "https://github.com/DioxusLabs/dioxus", rev="8a9bf294b44e123927dc9a19ad2d4238aea6ccb9" }

gl = "0.14.0"
glutin = "0.30.6"
glutin-winit = "0.3.0"
raw-window-handle = "0.5.1"
winit = "0.28.2"
skia-safe = { version = "0.63.0", features = ["gl", "textlayout", "svg"] }
tokio = { version = "1.23.0", features = ["sync", "rt-multi-thread", "time", "macros"] }
accesskit = { version = "0.11.0", features = ["serde"]}
accesskit_winit = "0.14.1"
zbus = "3.13.1"

euclid = "0.22.7"
uuid = { version = "1.2.2", features = ["v4"]}
futures = "0.3.25"
anymap = "0.12.1"
fxhash = "0.2.1"
tracing = "0.1"
tracing-subscriber = "0.3.17"
rustc-hash = "1.1.0"

[dev-dependencies]
skia-safe = { workspace = true }
winit = { workspace = true }
tokio = { workspace = true }
dioxus = { workspace = true }
freya = { workspace = true }
freya-node-state = { workspace = true }
reqwest = { version = "0.11.13", features = ["json"] }
serde = "1.0.152"
tracing-subscriber = "0.2.25"
dioxus-std = { git = "https://github.com/marc2332/dioxus-std", rev = "4974f9e4e421b9036d9438ef33d4496559a76855", features = ["utils", "i18n"] }
rand = "0.8.5"

[profile.release]
lto = true
opt-level = 3
