[package]
name = "examples"
edition = "2024"
publish = false

[features]
hotpath = ["freya-core/hotpath", "ragnarok/hotpath", "freya-winit/hotpath"]
hotpath-ci = ["hotpath/hotpath-ci"]
hotpath-alloc-bytes-total = [
  "freya-core/hotpath-alloc-bytes-total",
  "ragnarok/hotpath-alloc-bytes-total",
  "freya-winit/hotpath-alloc-bytes-total",
]
hotpath-alloc-count-total = [
  "freya-core/hotpath-alloc-count-total",
  "ragnarok/hotpath-alloc-count-total",
  "freya-winit/hotpath-alloc-count-total",
]
hotpath-off = [
  "freya-core/hotpath-off",
  "ragnarok/hotpath-off",
  "freya-winit/hotpath-off",
]
devtools = ["freya/devtools"]
performance = ["freya/performance"]
plot = ["freya/plot"]
vulkan = ["freya-winit/vulkan"]

[workspace]
members = [
  "./crates/freya",
  "./crates/freya-core",
  "./crates/torin",
  "./crates/ragnarok",
  "./crates/freya-clipboard",
  "./crates/freya-edit",
  "./crates/freya-winit",
  "./crates/freya-components",
  "./crates/pathmap",
  "./crates/freya-animation",
  "./crates/freya-router",
  "./crates/freya-router-macro",
  "./crates/freya-testing",
  "./crates/freya-i18n",
  "./crates/freya-performance-plugin",
  "./crates/freya-radio",
  "./crates/freya-engine",
  "./crates/freya-devtools",
  "./crates/freya-devtools-app",
  "./crates/freya-icons",
  "./examples/website",
]

[workspace.dependencies]
freya = { path = "./crates/freya", features = ["all"] }
freya-core = { path = "./crates/freya-core" }
torin = { path = "./crates/torin" }
ragnarok = { path = "./crates/ragnarok" }
freya-clipboard = { path = "./crates/freya-clipboard" }
freya-edit = { path = "./crates/freya-edit" }
freya-winit = { path = "./crates/freya-winit" }
freya-components = { path = "./crates/freya-components" }
pathmap = { path = "./crates/pathmap/" }
freya-animation = { path = "./crates/freya-animation" }
freya-router = { path = "./crates/freya-router" }
freya-router-macro = { path = "./crates/freya-router-macro" }
freya-testing = { path = "./crates/freya-testing" }
freya-i18n = { path = "./crates/freya-i18n" }
freya-performance-plugin = { path = "./crates/freya-performance-plugin" }
freya-radio = { path = "./crates/freya-radio" }
freya-engine = { path = "./crates/freya-engine" }
freya-devtools = { path = "./crates/freya-devtools", features = ["server"] }
freya-icons = { path = "./crates/freya-icons", features = ["all"] }

# core
generational-box = "0.6.2"
tracing = "0.1.41"
rustc-hash = "2.1.1"
bitflags = "2.9.3"
# Core/async
futures-util = "0.3.31"
futures-channel = "0.3.31"
futures-lite = "2.6.1"
async-io = "2.5.0"
# Core/components
typed-builder = "0.21.2"

# Animations
easer = "0.3.0"
async-broadcast = "0.7.2"

# Text editing
ropey = "1.6.1"
keyboard-types = "0.7.0"

# Layout
euclid = "0.22.9"

# Layers, Ragnarok, etc
itertools = "0.14.0"

# Rendering
skia-safe = { version = "0.87.0", features = ["gl", "textlayout", "svg"] }

# Desktop renderer
raw-window-handle = "0.6.0"
winit = "0.30.0"

# OpenGL
gl = "0.14.0"
glutin = "0.32.0"
glutin-winit = "0.5.0"

# Vulkan
ash = "^0.38"
ash-window = "0.13.0"

# accessibility
accesskit = "0.21.0"
accesskit_winit = "0.29.0"

# Performance
hotpath = "0.4"

# Errors
anyhow = "1.0.100"

# Images
image = "0.25.8"

# Rendering
[target."cfg(target_os = \"linux\")".dependencies.skia-safe]
version = "0.87.0"
features = ["gl", "textlayout", "svg", "x11", "wayland"]

[dev-dependencies]
freya = { workspace = true }
freya-core = { workspace = true, features = ["debug-integrity", "test"] }
torin = { workspace = true }
ragnarok = { workspace = true }
freya-edit = { workspace = true }
freya-router = { workspace = true }
freya-winit = { workspace = true }
freya-testing = { workspace = true }
freya-i18n = { workspace = true }
freya-performance-plugin = { workspace = true }
freya-radio = { workspace = true }
freya-icons = { workspace = true }

skia-safe = { workspace = true }

tracing = { workspace = true }
tracing-subscriber = "0.3.19"

rand = "0.9"

async-io = { workspace = true }
futures-lite = { workspace = true }

ropey = { workspace = true }
bitflags = { workspace = true }
keyboard-types = { workspace = true }

hotpath = { workspace = true }

itertools = { workspace = true }

[profile.release]
lto = true
opt-level = 3

# Optimizes the freya devtools server
[profile.dev.package.freya-devtools]
opt-level = 3
