---

---

<div class="card">
    <slot/>
</div>

<style>
	.card  {
       flex: 1;
       margin: 10px;
       border-radius: 10px;
    }
</style>

<style is:global>
	pre {
        border-radius: 10px;
        border: 1px solid rgb(39, 39, 42);
        padding: 20px !important;
        line-height: 1.3;
        background: #131315 !important;
    }
</style>

