on: 
  workflow_dispatch: 
  pull_request:
    paths:
      - 'crates/torin/**/*'
      - '.github/workflows/benchmarks.yml'

name: Run Benchmarks
jobs:
  runBenchmark:
    name: run benchmark
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: boa-dev/criterion-compare-action@59f4d964c5f19d7f13d36f5c0944b18ce6652cb0
        with:
          package: torin
          branchName: ${{ github.base_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
