name: Deploy website
on: 
  push:
    paths:
      - 'website/**/*'
      - '.github/workflows/deploy_website.yml'

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Install pnpm
        run: npm install pnpm -g

      - name: Install dependencies
        working-directory: website
        run: pnpm i

      - name: Build Astro
        working-directory: website
        run: pnpm run build

      - name: Upload to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          project: freya
          entrypoint: server/entry.mjs
          root: website/dist