name: Rust Lint

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency:
      group: rust-lint-${{ github.ref_name }}
      cancel-in-progress: true

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 2
        submodules: true
    - name: Install stable rust toolchain
      uses: dtolnay/rust-toolchain@1.90
      with:
        components: rustfmt, clippy
    - name: Install nightly rust toolchain
      uses: dtolnay/rust-toolchain@nightly
      with:
        components: rustfmt
    - name: Install just
      uses: taiki-e/install-action@just
    - name: Install taplo
      uses: taiki-e/install-action@taplo
    - name: Set up cargo cache
      uses: Swatinem/rust-cache@v2
      if: github.ref != 'refs/heads/main'
      with:
        prefix-key: "rust"
    - name: Install linux dependencies
      if: runner.os == 'Linux'
      run: sudo apt update && sudo apt install build-essential libssl-dev pkg-config libglib2.0-dev libgtk-3-dev libudev-dev libxdo-dev
    - name: Lint
      run: just c
    - name: Format
      run: just f
