name: Rust Build

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 2
        submodules: true
    - name: Install stable rust toolchain
      uses: dtolnay/rust-toolchain@1.90
    - name: Install just
      uses: taiki-e/install-action@just
    - name: Set up cargo cache
      uses: Swatinem/rust-cache@v2
      if: github.ref != 'refs/heads/main'
      with:
        prefix-key: "rust"
    - name: Install linux dependencies
      if: runner.os == 'Linux'
      run: sudo apt update && sudo apt install build-essential libssl-dev pkg-config libglib2.0-dev libgtk-3-dev libudev-dev
    - name: Build all --features
      run: just ba
