name: Rust Build

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: macos-latest
    concurrency:
      group: rust-build-${{ github.ref_name }}
      cancel-in-progress: true

    steps:
    - name: Remove unused programs
      uses: jlumbroso/free-disk-space@main
      with:
        android: true
        dotnet: true
        haskell: true
        large-packages: false
        docker-images: true
        swap-storage: true
    - uses: actions/checkout@v6
      with:
        fetch-depth: 2
        submodules: true
    - name: Install stable rust toolchain
      uses: dtolnay/rust-toolchain@1.90
    - name: Install just
      uses: taiki-e/install-action@just
    - name: Set up cargo cache
      uses: Swatinem/rust-cache@v2
      with:
        shared-key: "rust-ubuntu-latest"
        save-if: ${{ github.ref == 'refs/heads/main' }}
    - name: Install linux dependencies
      if: runner.os == 'Linux'
      run: sudo apt update && sudo apt install build-essential libssl-dev pkg-config libglib2.0-dev libgtk-3-dev libudev-dev libxdo-dev
    - name: Build all --features
      run: just ba
