name: Typing errors

on:
  push: {}
  pull_request: {}
  workflow_dispatch: {}

jobs:
  spelling:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install cspell
        run: npm install -g cspell
      - name: Run cspell
        run: cspell --no-progress --gitignore "**/*"
